DB_PROVIDER='postgres'
DB_HOST='postgres'
DB_PORT=5432
POSTGRES_USER='postgres'
DB_USERNAME='postgres'
POSTGRES_PASSWORD='password'
DB_PASSWORD='password'
POSTGRES_DB='Messanger'
DB_NAME='Messanger'
JWT_SECRET_KEY='secret'
JWT_REFRESH_SECRET_KEY='secrett'
FRONTEND_HOST='localhost'
FRONTEND_PORT=3000
