@import "../../../../mixins/mixinsCss/classes.module.scss"; // modalOverlay

.modalContentLocal, .modalContentAuto{
    @extend .modalContent;
    position: relative;
    width: 500px;
    height: 90vh;
}

.modalContentAuto{
    height: auto;
    width: 300px;
}

.modalContentLocal{
    padding: 60px 80px 60px 80px;
    border-radius: 41px;
}

.modal {
    position: relative;
    height: 100%;
    width: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    animation-name: moving;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.modal_content {
    width: 100%;
}