@import "../../../../mixins/mixinsCss/sizes.scss";
@import "../../../../mixins/mixinsCss/colors.scss";

.avatar{
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: $border-radius-avatar;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $avatar-background;
}

.avatar img{
    max-height: 100%;
    max-width: 100%;
}