@import "./colors.scss";

.hide_scroll {
    overflow: auto; /* или scroll */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE и Edge */
}

/* Для Webkit браузеров (Chrome, Safari) */
.hide_scroll::-webkit-scrollbar {
    display: none;
}

.modalOverlay {
    background-color: rgba(0, 0, 0, 0.3); /* Тёмный фон */
    display: flex; /* Центрирование */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
  
  .modalContent {
    @extend .hide_scroll;
    width: 400px;
    height: 300px;
    border-radius: 12px; /* Закруглённые углы */
    background-color: #fff; /* Белый фон */
    padding: 20px; /* Отступ внутри окна */
    border: 1px solid white; /* Убираем стандартную рамку */
    position: relative;
    max-height: 90vh;
    overflow: hidden;
  }

  .wrapperEntityOnPanel, .wrapperActiveEntityOnPanel, .nothoveringEntityOnPanel{
    height: 60px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.wrapperEntityOnPanel:hover, .wrapperActiveEntityOnPanel{
    background-color: $primary-blue;
    color: white;
    cursor: pointer;
    .newMess{
        background-color: white;
        color: $primary-blue;
    }
    .lastMes{
        color: white;
    }
}

.wrapperActiveEntityOnPanel:hover{
    cursor: pointer;
}

.wrapperText{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    height: 100%;
    padding-top: 3px;
    line-height: 1.5
}