@import "../../../../../../mixins/mixinsCss/classes.module.scss";
@import "../../../../../../mixins/mixinsCss/colors.scss";

.buttonWrapper{
    position: absolute;
    margin-bottom: 20px;
    bottom: 0;
    width: 100%;
    padding-right: 40px;
}

.button{
    float: right;
}

.wrapper{
    margin-bottom: 40px;    
}

.wrapEntity{
    &:hover{
        cursor: pointer;
        background-color: $light-background;
    }
}