.css{
    padding-left: 20px;
    backdrop-filter: blur(10px);
    height: 40px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid #C5C6CC;
    background: rgba(255, 255, 255, 0.1);
}

.css:focus{
    border-color: #006FFD;
    color: #006FFD;
    outline: none;
}