.wrapper{
    width: 100%;
    height: 100%;
}

.wrapperAvatarModule{
    width: 100%;
}

.wrappers{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapperAvatar{
    width: 100%;
    position: relative;
}

.addWrapper{
    position: absolute;
    bottom: 0;
    right: 0;
}

.info{
    margin-top: 50px;
}